<!DOCTYPE html>
<html>
<head>
  <title>Influencer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <header>
    <!-- Navbar -->
    <%= render 'layouts/navigation' %>
  </header>
  <body>
    <div class="container main">
      <!-- Flash Notifications -->
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
  </body>
</html>
